@-moz-keyframes openStop {
	0% {
		height: 20px;
		color: #fff;
	}
	25% {
		color: #fff;
	}
	100% {
		height: 145px;
		color: #565a5c
	}
}

@-webkit-keyframes openStop {
	0% {
		height: 20px;
		color: #fff;
	}
	25% {
		color: #fff;
	}
	100% {
		height: 145px;
		color: #565a5c
	}
}

@keyframes openStop {
	0% {
		height: 20px;
		color: #fff;
	}
	25% {
		color: #fff;
	}
	100% {
		height: 145px;
		color: #565a5c
	}
}

@-moz-keyframes closeStop {
	0% {
		height: 145px;
		color: #fff;
		color: #565a5c;
	}
	25% {
		color: #fff;
	}
	100% {
		height: 0px;
		color: #fff;
	}
}

@-webkit-keyframes closeStop {
	0% {
		height: 145px;
		color: #fff;
		color: #565a5c;
	}
	25% {
		color: #fff;
	}
	100% {
		height: 0px;
		color: #fff;
	}
}

@keyframes closeStop {
	0% {
		height: 145px;
		color: #fff;
		color: #565a5c;
	}
	25% {
		color: #fff;
	}
	100% {
		height: 0px;
		color: #fff;
	}
}

@-moz-keyframes bottomBarSlideIn {
	0% {
		-webkit-transform: translate(0, 115px);
		-moz-transform: translate(0, 115px);
		-ms-transform: translate(0, 115px);
		-o-transform: translate(0, 115px);
		transform: translate(0, 115px);
	}
	100% {
		-webkit-transform: translate(0, 0);
		-moz-transform: translate(0, 0);
		-ms-transform: translate(0, 0);
		-o-transform: translate(0, 0);
		transform: translate(0, 0);
	}
}

@-webkit-keyframes bottomBarSlideIn {
	0% {
		-webkit-transform: translate(0, 115px);
		-moz-transform: translate(0, 115px);
		-ms-transform: translate(0, 115px);
		-o-transform: translate(0, 115px);
		transform: translate(0, 115px);
	}
	100% {
		-webkit-transform: translate(0, 0);
		-moz-transform: translate(0, 0);
		-ms-transform: translate(0, 0);
		-o-transform: translate(0, 0);
		transform: translate(0, 0);
	}
}

@keyframes bottomBarSlideIn {
	0% {
		-webkit-transform: translate(0, 115px);
		-moz-transform: translate(0, 115px);
		-ms-transform: translate(0, 115px);
		-o-transform: translate(0, 115px);
		transform: translate(0, 115px);
	}
	100% {
		-webkit-transform: translate(0, 0);
		-moz-transform: translate(0, 0);
		-ms-transform: translate(0, 0);
		-o-transform: translate(0, 0);
		transform: translate(0, 0);
	}
}

@-moz-keyframes fade {
	0% {
		opacity: 1;
	}

	100% {
		opacity: .1;
	}
}

@-webkit-keyframes fade {
	0% {
		opacity: 1;
	}
	100% {

	}	opacity: .1;
}

@keyframes fade {
	0% {
		opacity: 1;
	}
	100% {

	}	opacity: .1;
}