@import (reference) "common";
.btn {
	font-weight: bold;
}

.btn.btn-primary {
	border-color: #ff5a5f;
	border-bottom-color: #e00007;
	background-color: #ff5a5f;
	color: #fff;	
}

.btn.btn-primary:hover, 
.btn.btn-primary:focus {
	border-color: #ff7e82;
	border-bottom-color: #fa0008;
	background-color: #ff7e82;
	color: #fff;
	outline: none;
}

.btn-large {
	padding: 9px 27px;
	font-size: 16px;
}

.btn-contrast {
	border-color: #565a5c;
	border-bottom-color: #383b3c;
	background-color: #565a5c;
	color: #fff;
}