@import "date_picker";
@import "../vendor/css/jquery-ui.min.css";
@import "../vendor/css/jquery-ui.structure.min.css";
@import "../css/normalize.css";
@import "map";
@import "utilities";
@import "colors";
@import "buttons";
@import "forms";


body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.43;
	color: #565a5c;
	background-color: #f5f5f5;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

iframe {
	border: 0;
}

img {
	margin: 0;
}

.page-view {
	overflow: hidden;
	position: relative;
}

.panel {
	border: 1px solid @panel-border-grey;
	background-color: #fff;
	border-radius: 0;
	padding: 0 20px;

	&.side-bar,
	&.bottom-bar {
		border-bottom: none;
		border-left: none;
	}

	&.side-bar {
		border-top: none;
	}

	&.bottom-bar {
		border-right: none;
	}
}

.side-bar {
	height: 100%;
	width: 60%;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	background-color: #f7f7f7;
}

.bottom-bar {
	width: 40%;
	float: right;
	position: fixed;
	right: 0;
	bottom: 0;
	z-index: 5;
	background-color: #f7f7f7;
	padding: 0;
}

.img-wrapper {
	position: relative;
	display: block;

	img {
		max-width: 100%;
		max-height: 100%;
	}
}

.center {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: block;
	margin: auto;
}

.left-full-width {
	float: left;
	width: 100%;
}

.left-full-height {
	float: left;
	height: 100%;
}

.bleed-width-15 {
	margin-right: -15px;
	margin-left: -15px;
}

.bleed-width-20 {
	margin-right: -20px;
	margin-left: -20px;
}

.round-left { 
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
}

.round-right { 
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
}

.round-top {
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}

.round-bottom { 
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

.round-all {
	border-radius: 4px;
}


