@import (reference) "common";
.header-nav-wrapper {
	overflow: hidden;
	width: 165px;
	float: right;
	height: 100px;
	position: absolute;
	right: 0;
}

.header-nav {
	height: 30px;
	width: 40px;
	float: right;
	position: absolute;
	top: 0;
	left: 125px;
	z-index: 1000;
	background: rgba(255, 255, 255, 0.9);

	-webkit-transition: left .2s ease-in-out;
	-moz-transition: left .2s ease-in-out;
	-ms-transition: left .2s ease-in-out;
	-o-transition: left .2s ease-in-out;
	transition: left .2s ease-in-out;

	&:hover {
		cursor: pointer;
	}

	ul {
		width: 125px;
		top: -15px;
		left: 125px;
		margin: 0;
		padding: 0;
		border-bottom-left-radius: 5px;
		border-right: 0;
		border-left: 0;
		float: right;
		position: relative;
		color: #666;
		font-weight: bold;
		background: #fff;
	}

	li {
		list-style: none;
		padding: 6px 15px;

		&:hover {
			cursor: pointer;
			background-color: #f7f7f7;
		}

		a {
			color: #666;

			&:hover {
				text-decoration: none;
			}
		}
	}

	.burger-menu-btn {
		float: right;
		position: relative;
		background: 0 0;
		border: 0;
		top: 7px;
		right: 10px;
		width: 20px;
		height: 14px;

		&:focus {
			outline: none;
		}

		&:before {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			width: 20px;
			height: 14px;
			border-top: 6px double #ff5a5f;
			border-bottom: 6px double #ff5a5f;
			
			-webkit-transition: transform .2s ease-in-out;
			-moz-transition: transform .2s ease-in-out;
			-ms-transition: transform .2s ease-in-out;
			-o-transition: transform .2s ease-in-out;
  			transition: transform .2s ease-in-out;
		}
	}

	&.open {
		background: #fff;
		left: 0;

		.burger-menu-btn:before {
			-webkit-transition: rotate(90deg);
			-moz-transition: rotate(90deg);
			-ms-transition: rotate(90deg);
			-o-transition: rotate(90deg);
			transform: rotate(90deg);
		}
	}
}

.nav-modals {
	.panel {
		width: 100%;
		background-color: #edefed;
		border-bottom: 0;
		overflow: hidden;
	}

	.panel-header {
		border-bottom: 0;
		font-weight: 500;
	}

	button.close {
		position: absolute;
		top: 10px;
		right: 10px;
		z-index: 5;
		color: #fff;
		background-color: @btn-dark;
		font-size: 22px;
		line-height: 20px;
		height: 25px;
		width: 25px;
		padding: 0;
		padding-bottom: 5px;

		&:hover {
			background-color: @btn-dark-hover;
		}

		&:active,
		&:focus {
			outline: none;
		}
	}

	table {
		>tbody {
			>tr {
				th,
				td {
					padding: 8px 40px;
				}
			}
		}
	}
}