@import (reference) "common";
.landing-page {

	h1 {
		text-transform: uppercase;
		color: #fff;
		text-align: center;
		height: auto;
		padding: 20px 10px;
		border-left: 0;
		border-right: 0;
		font-size: 60px;
		font-weight: 900;
		line-height: 60px;
		z-index: 10;
		text-shadow: 6px 6px 6px #000;
		padding-top: 105px;
	}

	.search-area {
		position: relative;
		top: 50px;
		height: 350px;
		width: 100%;

		-webkit-transition: top 1s ease-in-out;
	    -moz-transition: top 1s ease-in-out;
	    -o-transition: top 1s ease-in-out;
	    transition: top 1s ease-in-out;


		&.out {
			top: -700px;
			z-index: 10;
		}
	}

	.search-box {
		background: #000;
		background: rgba(0,0,0,0.6);
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		padding-top: 30px;
		padding-bottom: 30px;
		text-align: center;

		.form-control,
		.submit {
			height: 44px;
			display: inline-block;
		}

		.location {
			width: 290px;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}

		.date {
			width: 130px;
		}

		.date,
		.travellers {
			border-radius: 0;
		}

		.travellers {

		}

		.submit {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			vertical-align: baseline;
		}
	}

	.locations-menu {
		background: #fff;
		width: 677px;
		border: 1px solid #ccc;
		border-top: 0;
		position: absolute;

		.location-item {
			font-size: 14px;
			line-height: 38px;
			height: 44px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			color: @light-grey;
			padding-top: 0;
			padding-bottom: 0;
			display: block;
			cursor: default;
			padding: 0.4em 0.6em;

			&:hover,
			&.active {
				outline: 0;
				color: #fff;
				background: @light-red;
				cursor: pointer;
			}

			.search-locale {
				color: @dark-grey;
				font-weight: bold;
			}

			.location {
				width: 600px;
				max-width: 600px;
			}

			.location,
			.date,
			.travellers {
				display: table-cell;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				text-align: left;
			}
		}

		.location-item+.location-item {
			border-top: 1px solid #E6E6E6;
		}
	}
}