@import (reference) "common";
.landing-page {
	overflow: hidden;
	height: 100%;

	h1 {
		text-transform: uppercase;
		color: #fff;
		text-align: center;
		height: auto;
		padding: 20px 10px;
		border-left: 0;
		border-right: 0;
		font-size: 60px;
		font-weight: 900;
		line-height: 60px;
		z-index: 10;
		text-shadow: 6px 6px 6px #000;
		padding-top: 105px;
		margin-bottom: 20px;
	}

	.search-area {
		position: relative;
		top: 50px;
		height: 350px;
		width: 100%;
		padding: 0;

		-webkit-transition: top 1s ease-in-out;
	    -moz-transition: top 1s ease-in-out;
	    -o-transition: top 1s ease-in-out;
	    transition: top 1s ease-in-out;


		&.out {
			top: -700px;
			z-index: 10;
		}
	}

	.search-box {
		background: #000;
		background: rgba(0,0,0,0.6);
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";

		.date,
		.travellers {
			border-radius: 0;
		}

		.submit {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
	}

	@media (max-width: 768px) {
		h1 {
			font-size: 48px;
			padding-top: 20px;
			margin-top: 0;
		}

		.input-wrapper,
		.select {
			width: 100%;
		}
		
		.select:before {
			right: 10%;
		}

		.search-area {
			height: auto;
			top: 0;
		}

		.search-box .submit,
		.search-box .location,
		.search-box .date,
		.search-box .form-control {
			width: 80%;
			margin: 0 auto;
			margin-bottom: 5px;
		}

		.search-box .submit {
			border-radius: 0;
		}

		.locations-menu {
			top: 44px;
			left: 10%;
			width: 80%;
		}
	}

}