.stop-page {
	.search-query-wrapper {
		float: left;
		width: 100%;
		background-color: #fff;
	}

	.form-control.date {
		height: 40px;
	}

	.date-input-wrapper {
		padding-left: 6.25px;
		padding-right: 6.25px;
	}

	.filters-section {
		padding-top: 15px;
		padding-bottom: 15px;
		border-top: 0;
		border-bottom: 1px solid #dce0e0;

		label {
			display: block;
			padding-top: 9px;
			padding-bottom: 8px;
			font-weight: normal;
			line-height: normal;
		}
	}

	.search-results-wrapper {
		overflow-x: hidden;
		overflow-y: auto;
	}

	.stop-location-title-wrapper-outter {
		padding-left: 6.25px;
		padding-right: 6.25px;
	}

	.stop-location-title {
		margin-top: 0;
		height: 40px;
		line-height: 22px;
	}
}
