@import (reference) "common";

.stop-page {
	.search-query-wrapper {
		float: left;
		width: 100%;
		background-color: #fff;

		.locations-menu {
			width: 100%;
		}
	}

	.form-control.date {
		height: 40px;
		position: relative;
		z-index: 1000;
	}

	.date-input-wrapper {
		padding-left: 6.25px;
		padding-right: 6.25px;
	}

	.filters-section {
		padding-top: 15px;
		padding-bottom: 15px;
		border-top: 0;
		position: relative;

		&+.filters-section {
			&:before {
				content: "";
				position: absolute;
				top: -1px;
				height: 1px;
				left: 20px;
				right: 20px;
				border-top: 1px solid @panel-border-grey;
				border-color: rgba(220,224,224,0.5);
			}
		}

		&:last-child {
			&:after {
				content: "";
				position: absolute;
				bottom: 1px;
				height: 1px;
				left: 20px;
				right: 20px;
				border-bottom: 1px solid @panel-border-grey;
				border-color: rgba(220,224,224,0.5);
			}
		}

		label {
			display: block;
			padding-top: 9px;
			padding-bottom: 8px;
			font-weight: normal;
			line-height: normal;
		}
	}

	.search-page-lodging-wrapper {
		float: left;
		width: 100%;
		background-color: #fff;

		.booking-satus-menu {
			position: absolute;
			left: 0;
			z-index: 100;
			padding: 0 10px 15px 10px;
			border-top: 0;

			.lodging-booking-status-inner {
				background: #fff;
				padding: 15px;
				border: 1px solid #ccc;
				border-top: 0;
				box-shadow: 1px 4px 10px #000000;

				h4 {
					margin-top: 0;
				}

				p {
					font-size: 12px;
					max-height: 110px;
					overflow: hidden;
				}

				.lodging-booking-status {
					margin-bottom: 5px;
				}
			}
		}
	}

	.search-results-wrapper {
		overflow-x: hidden;
		overflow-y: auto;
		position: relative;;
	}

	.search-results-wrapper-inner {
		transition: opacity .2s;
		float: left;
	}

	.search-results {
		padding: 0;
		margin: 0;
	}

	.search-results-header {
		h2 {
			color: #82888a;
			font-size: 14px;
			text-align: right;
			padding: 0 15px;
			margin: 10px 0;
		}
	}

	.search-results-footer {
		overflow: hidden;
		padding: 20px;

		p {
			margin-top: 0;
		}

		ul {
			overflow: hidden;
			padding: 0;
			margin: 0;
			display: inline;
			list-style: none;
		}

		li {
			list-style: none;
			display: inline;

			&:first-child a{
				margin-left: 0;
			}

			span.ellip {
				padding: 0 5px;
				border: 0;
				background: 0 0;
				box-shadow: 0 0 0 #000;
				float: left;
				margin-left: 10px;
				text-decoration: none;
			}

			a {
				float: left;
				padding: 5px 10px;
				margin-left: 10px;
				text-decoration: none;
				border: 1px solid #c4c4c4;
				border-radius: 2px;
				background-color: #fff;
				color: @light-red;
				text-decoration: none;

				&.arrow {
					padding: 5px 10px 8px 10px;
					line-height: 17px;
				}
			}
		}

		a.active {
			color: @dark-grey;
			background-color: #edefed;
			cursor: default;
		}
	}

	.stop-location-title-wrapper-outter {
		padding-left: 6.25px;
		padding-right: 6.25px;
	}

	.stop-location-title {
		margin-top: 0;
		height: 40px;
		line-height: 22px;
	}

	@media (max-width: 768px) {
		.side-bar {
			width: 100%;
			z-index: 99999;

			h1 {
				font-size: 22px;
			}

			.date-input-wrapper{
				&:first-child{
					.date {
						margin-bottom: 10px;
					}
				}

				.date {
					z-index: 999999;
				}
			}

			.result-request-stay-btn {
				display: block;
			}

			.search-results-footer {
				span.ellip {
					margin-left: 5px;
				}

				li a {
					margin-left: 5px;
				}
			}
		}
	}
}

