@import (reference) "common";
.trip-page {

	.title {
		background-color: #fff;
		border-bottom: 1px solid @panel-border-grey;
		&:hover,
		&:focus,
		&:active {
			background-color: @panel-border-light-grey;
		}
	}

	.stops {
		ol {
			padding: 0;
			margin: 0;
		}

		li {
			list-style: none;
		}	
	}

	.stop {
		
		background-color: #fff;
		position: relative;

		&:hover {
			.remove {
				opacity: 1;
			}
		}

		&.new {
			overflow: hidden;
			-moz-animation-name: openStop;
			-moz-animation-iteration-count: 1;
			-moz-animation-timing-function: ease-in;
			-moz-animation-duration: 0.4s;

			-webkit-animation-name: openStop;
			-webkit-animation-iteration-count: 1;
			-webkit-animation-timing-function: ease-in;
			-webkit-animation-duration: 0.4s;

			animation-name: openStop;
			animation-iteration-count: 1;
			animation-timing-function: ease-in;
			animation-duration: 0.4s;

		}

		&.removing {
			overflow: hidden;
			-moz-animation-name: closeStop;
			-moz-animation-iteration-count: 1;
			-moz-animation-timing-function: ease-in;
			-moz-animation-duration: 0.4s;

			-webkit-animation-name: closeStop;
			-webkit-animation-iteration-count: 1;
			-webkit-animation-timing-function: ease-in;
			-webkit-animation-duration: 0.4s;

			animation-name: closeStop;
			animation-iteration-count: 1;
			animation-timing-function: ease-in;
			animation-duration: 0.4s;
		}

		&.home.removing {
			overflow: hidden;
			-moz-animation-name: closeHomeStop;
			-moz-animation-iteration-count: 1;
			-moz-animation-timing-function: ease-in;
			-moz-animation-duration: 0.4s;

			-webkit-animation-name: closeHomeStop;
			-webkit-animation-iteration-count: 1;
			-webkit-animation-timing-function: ease-in;
			-webkit-animation-duration: 0.4s;

			animation-name: closeHomeStop;
			animation-iteration-count: 1;
			animation-timing-function: ease-in;
			animation-duration: 0.4s;
		}

		&.no-location.removing {
			overflow: hidden;
			-moz-animation-name: closeNoLocStop;
			-moz-animation-iteration-count: 1;
			-moz-animation-timing-function: ease-in;
			-moz-animation-duration: 0.4s;

			-webkit-animation-name: closeNoLocStop;
			-webkit-animation-iteration-count: 1;
			-webkit-animation-timing-function: ease-in;
			-webkit-animation-duration: 0.4s;

			animation-name: closeNoLocStop;
			animation-iteration-count: 1;
			animation-timing-function: ease-in;
			animation-duration: 0.4s;
		}

		&.no-location {
			.stop-location-title {
				border: 1px solid #c4c4c4;
				-webkit-transition: border-color .2s;
				transition: border-color .2s;
				-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
				box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
				-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
				-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
				transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
			}
		}

		.remove {
			opacity: 0;
			position: absolute;
			right: 0;
			background-color: @panel-border-grey;
			width: 20px;
			height: 20px;
			text-align: center;
			z-index: 10;

			-webkit-transition: opacity .2s ease-in;
			-moz-transition: opacity .2s ease-in;
			-ms-transition: opacity .2s ease-in;
			-o-transition: opacity .2s ease-in;
			transition: opacity .2s ease-in;

			&:hover {
				cursor: pointer;

				&:after {
					color: @light-red;
				}
			}

			&:active,
			&:focus {
				&:after {
					color: #fff;
				}
			}

			&:after {
				content: "x";
				color: #fff;
				line-height: 18px;
				text-align: center;
				font-size: 18px;
				margin: auto;

				-webkit-transition: color .2s ease-in;
				-moz-transition: color .2s ease-in;
				-ms-transition: color .2s ease-in;
				-o-transition: color .2s ease-in;
				transition: color .2s ease-in;
			}
		}

		.stop-head {
			h2,
			h4 {
				font-weight: normal;
			}

			h2 {
				font-size: 26px;
				line-height: 26px;
				margin: 12.5px 0;
			}

			h4 {
				font-size: 16px;
				color: #aaa;
				line-height: 1.1;
				margin: 0 0 5px 0;
			}

			.stop-num-wrapper {
				margin: 12.5px 0;
				padding: 0;
			}

			.stop-num {
				background: @light-red;
				color: #fff;
				border-radius: 50%;
				font-size: 30px;
				width: 40px;
				height: 40px;
				display: block;
				text-align: center;
				line-height: 40px;
			}

			.clear {
				top: 25px;
				right: 25px;
			}

			.fa {
				color: #565a5c;
				width: 20px;
			}

			.distance-info-wrapper,
			.lodging-info-wrapper {
				margin-bottom: 10px;
			}

			.distance-info-wrapper {
				padding-left: 0px;
			}

			.lodging-info-wrapper {
				padding-left: 10px;
			}

		}

		.lodging-chosen {
			padding: 0px 0 15px 0px;
			float: left;

			.result-img {
				img {
					width: initial;
				}
			}

			&.home {
				height: 70px;

				.result-img {
					padding: 0;
					height: 55px;
				}

				.lodging-info-wrapper,
				.distance-info-wrapper {
					margin-bottom: 0;
				}
			}

			&.no-lodging {
				h3 {
					margin-bottom: 15px;
					font-size: 18px;
				}

				.result-img {
					padding: 0;
					height: 132px;
				}

				.fa-home {
					font-size: 145px;
					line-height: 132px;
					text-align: center;
					display: block;
				}
			}
		}

		.add-stop-btn-wrapper {
			height: 30px;
			background-color: @panel-border-light-grey;
			float: left;
			width: 100%;
			border: 0;
			position: relative;
			text-align: center;

			&:hover {
				.add-stop-btn {
					display: block;
				}
			}

			p {
				line-height: 2em;
				color: @light-red;
				font-weight: bold;
			}

			.add-stop-btn {
				border: 1px solid @panel-border-grey;
				width: 100%;
				background-color: #fff;
				padding: 0;
				height: 100%;
				text-align: center;
				color: @light-red;
				display: none;
				border-left: 0;
				border-right: 0;
				font-size: 16px;
			}
		}
	}

	.trip-blurbs {
		background-color: #fff;
		border-top: 1px solid @panel-border-grey;
	}

	.trip-blurb {
		height: 45px;
		position: relative;
		border-bottom: 1px solid @panel-border-grey;

		h3 {
			padding: 10px 20px;
			margin: 0;
			z-index: 2;
			position: relative;
		}

		.fa {
			width: 20px;
			text-align: center;
		}
	}

	.trip-blurb.editable {
		.drawer {
			width: 100%;
			max-height: 0;
			position: absolute;
			top: 100%;
			overflow: hidden;
			z-index: 1;
			background-color: #fff;

			-webkit-transition: max-height .5s ease;
			-moz-transition: max-height .5s ease;
			-o-transition: max-height .5s ease;
			transition: max-height .5s ease;

			.inner {
				padding: 10px 20px;
			}

			.form-control {
				height: 44px;
				border-radius: 0;
			}

			.mpg-label {
				text-align: center;
				font-weight: bold;
			}
		}

		h3 {
			&:hover {
				cursor: pointer;
			}
		}

		&:after {
			content: ">";
			position: absolute;
			right: 10px;
			top: 5px;
			font-weight: bold;
			font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
			font-size: 20px;
			line-height: 1.43;
			color: #565a5c;
			-webkit-font-smoothing: antialiased;

			-webkit-transition: -webkit-transform .5s ease;
			-moz-transition: -moz-transform .5s ease;
			-o-transition: -o-transform .5s ease;
			transition: transform .5s ease;
		}

		&:hover {
			&:after {
				color: @light-red;
			}
		}

		&.active {
			&:after {
				-webkit-transform: rotate(90deg);
				-moz-transform: rotate(90deg);
				-o-transform: rotate(90deg);
				-ms-transform: rotate(90deg);
				transform: rotate(90deg);
			}

			.drawer {
				max-height: 500px;
			}
		}
	}

	.trip-dates-wrapper {
		padding: 0;

		.form-control {
			border-left: none;
			border-right: none;
		}

		.date,
		.submit {
			width: 33.33%;
			border-radius: 0;
		}

		.date:nth-child(2) {
			border-left: 1px solid #c4c4c4;
			border-right: 1px solid #c4c4c4;
		}

		.submit {
			border-right: 0;
		}
	}

	.travellers {
		height: 70px;
		position: relative;
		background-color: @panel-border-light-grey;

		.trip-traveller-text,
		.traveller {
			display: inline-block;
			height: 100%;
		}

		.trip-traveller-text {
			width: 90px;
			line-height: 70px;
			padding: 0 5px;
			font-size: 18px;
			float: left;
		}

		.travellers-wrapper {
			overflow-x: auto;
			white-space: nowrap;
			overflow-y: hidden;
			height: 100%;
		}

		.travellers-wrapper::-webkit-scrollbar {
			height: 10px;
		}

		.travellers-wrapper::-webkit-scrollbar-thumb {
			background-color: @btn-dark; 
		}

		.travellers-wrapper::-webkit-scrollbar-track {
			-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .3);
		}

		.traveller {
			width: 110px;
			border-right: 1px solid @panel-border-grey;
			float: none;
			overflow: hidden;

			.profile-pic-wrapper {
				height: 35px;
  				top: 5px;

  				img {
  					border-radius: 50%;
  					transition: all .2s ease-in-out;
  				}
			}

			.name {
				margin: 0;
				padding: 8px 5px 0 5px;
				font-size: 10px;
				text-align: center;
				line-height: 10px;
			}

			&:hover {
				cursor: pointer;

				.profile-pic-wrapper {
					img {
						transform: scale(1.1);
					}
				}
			}

			.edit-card {
				width: 100%;
				position: absolute;
				background-color: #f4f4f4;
				left: 100%;
				top: 0;
				height: 71px;
				border-bottom: 1px solid #ccc;
				z-index: 1;

				-webkit-transition: left .2s ease-in-out;
				-moz-transition: left .2s ease-in-out;
				-ms-transition: left .2s ease-in-out;
				-o-transition: left .2s ease-in-out;
				transition: left .2s ease-in-out;

				.form-group {
					padding: 0;
				}

				input {
					display: inline-block;
					width: 100%;
					border-radius: 0;
					border-bottom: 0;
					height: 44px;
				}

				.save-traveller,
				.remove-traveller {
					border-radius: 0;
					height: 44px;
				}

				h3 {
					margin: 0;
					padding: 10px;
				}

				form {
					width: 90%;
					margin: 0 auto;
					margin-top: 14px;
					overflow: hidden;
				}

				&.active {
					left: 0;
				}
			}
		}

		.add-traveller {
			height: 100%;
			width: 30px;
			float: left;
			font-size: 28px;
			background-color: @btn-dark;
			border: 0;
			color: #fff;
			padding: 0px;

			&:hover {
				background-color: @btn-dark-hover;
			}

			&:focus {
				outline: none;
			}

			&:active {
				background-color: @btn-dark;
			}
		}
	}

	.locations-menu {
		width: 100%;
		top: 55px;
		z-index: 10;
		border-top: 1px solid #ccc;
	}

	.bottom-bar {
		-webkit-transition: -webkit-transform 1s ease;
		-moz-transition: -moz-transform 1s ease;
		-o-transition: -o-transform 1s ease;
		transition: transform 1s ease;

		&.slide-in {
			-moz-animation-name: bottomBarSlideIn;
			-moz-animation-iteration-count: 1;
			-moz-animation-timing-function: ease-in;
			-moz-animation-duration: 1s;

			-webkit-animation-name: bottomBarSlideIn;
			-webkit-animation-iteration-count: 1;
			-webkit-animation-timing-function: ease-in;
			-webkit-animation-duration: 1s;

			animation-name: bottomBarSlideIn;
			animation-iteration-count: 1;
			animation-timing-function: ease-in;
			animation-duration: 1s;
		}
	}

	@media (max-width: 768px) {
		.stop {
			.stop-head {
				h2 {
					font-size: 22px;
					line-height: 22px;
				}

				.stop-num {
					width: 30px;
					height: 30px;
					line-height: 30px;
					font-size: 22px;
				}
			}
		}
	}
}