@import (reference) "common";
.trip-page {

	.title {
		&:hover,
		&:focus,
		&:active {
			background-color: #fff;
		}
	}

	.stops {
		margin-bottom: 20px;
		ol {
			padding: 0;
			margin: 0;
		}

		li {
			list-style: none;
		}	
	}

	.stop {
		height: 145px;
		padding-left: 20px;
		border-bottom: 1px solid @panel-border-grey;
		background-color: #fff;

		&:hover {
			.remove {
				opacity: 1;
			}
		}

		&.new {

			-moz-animation-name: openStop;
			-moz-animation-iteration-count: 1;
			-moz-animation-timing-function: ease-in;
			-moz-animation-duration: 0.4s;

			-webkit-animation-name: openStop;
			-webkit-animation-iteration-count: 1;
			-webkit-animation-timing-function: ease-in;
			-webkit-animation-duration: 0.4s;

			animation-name: openStop;
			animation-iteration-count: 1;
			animation-timing-function: ease-in;
			animation-duration: 0.4s;

		}

		&.removing {
			-moz-animation-name: closeStop;
			-moz-animation-iteration-count: 1;
			-moz-animation-timing-function: ease-in;
			-moz-animation-duration: 0.4s;

			-webkit-animation-name: closeStop;
			-webkit-animation-iteration-count: 1;
			-webkit-animation-timing-function: ease-in;
			-webkit-animation-duration: 0.4s;

			animation-name: closeStop;
			animation-iteration-count: 1;
			animation-timing-function: ease-in;
			animation-duration: 0.4s;
		}

		.remove {
			opacity: 0;
			position: absolute;
			right: 0;
			background-color: @panel-border-grey;
			width: 20px;
			height: 20px;
			text-align: center;

			-webkit-transition: opacity .2s ease-in;
			-moz-transition: opacity .2s ease-in;
			-ms-transition: opacity .2s ease-in;
			-o-transition: opacity .2s ease-in;
			transition: opacity .2s ease-in;

			&:hover {
				cursor: pointer;

				&:after {
					color: @light-red;
				}
			}

			&:active,
			&:focus {
				&:after {
					color: #fff;
				}
			}

			&:after {
				content: "x";
				color: #fff;
				line-height: 18px;
				text-align: center;
				font-size: 18px;
				margin: auto;

				-webkit-transition: color .2s ease-in;
				-moz-transition: color .2s ease-in;
				-ms-transition: color .2s ease-in;
				-o-transition: color .2s ease-in;
				transition: color .2s ease-in;
			}
		}

		.stop-num-wrapper {
			position: relative;
			width: 30px;
			margin-right: 12px;
		}

		.stop-num {
			font-size: 2em;
			text-align: center;
			height: 1.4em;
		}

		.stop-bar {
			width: 12px;
			border-right: 1px solid @panel-border-light-grey;
			display: inline-block;
			margin-left: -20px;
			position: relative;
		}

		.stop-place-info {
			float: left;

			p {
				margin: 0;
			}
		}

		.stop-location-title-wrapper {
			position: relative;

			.clear {
				opacity: 0;
				float: right;
				font-size: 12px;
				position: absolute;
				top: 14px;
				right: 12px;

				&:after {
					content: "X";
				}
			}
		}

		.stop-location-title {
			min-width: 150px;
			height: 44px;
			font-size: 16px;
			line-height: 28px;
			padding: 6px 25px 6px 12px;
			border: 1px solid #fff;

			&:focus {
				outline: none;
			}

		}

		.stop-location-title-wrapper:hover .stop-location-title,
		.stop-location-title:hover,
		.stop-location-title:focus {
			border: 1px solid #c4c4c4;
			-webkit-transition: border-color .2s;
			transition: border-color .2s;
			-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
			box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
			-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
			-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
			transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

			& + .clear {
				opacity: 1;

				&:hover {
					cursor: pointer;
				}
			}
		}

		.stop-lodging {
			width: 180px;
			float: right;
			border-left: 1px solid @panel-border-light-grey;
		}
	}

	.trip-blurbs {
		background-color: #fff;
		border-top: 1px solid @panel-border-grey;
	}

	.trip-blurb {
		height: 45px;
		padding: 10px 20px;
		position: relative;
		border-bottom: 1px solid @panel-border-grey;

		h3 {
			margin: 0;
		}
	}

	.trip-blurb.editable {
		&:after {
			content: ">";
			position: absolute;
			right: 10px;
			top: 5px;
			font-weight: bold;
			font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
			font-size: 20px;
			line-height: 1.43;
			color: #565a5c;
			-webkit-font-smoothing: antialiased;
		}

		&:hover {
			cursor: pointer;
			background-color: @panel-border-light-grey;
			&:after {
				color: @light-red;
			}
		}
	}

	.side-bar {
		h1 {
			color: @light-red;
			margin-top: 0;
			margin-bottom: 0;
			padding: 10px 20px;
			border-bottom: 1px solid @panel-border-grey;
		}
	}

	.trip-dates-wrapper {
		padding: 0;

		.form-control {
			border-left: none;
			border-right: none;
		}

		.date,
		.submit {
			width: 33.33%;
			border-radius: 0;
		}

		.date:nth-child(2) {
			border-left: 1px solid #c4c4c4;
			border-right: 1px solid #c4c4c4;
		}

		.submit {
			border-right: 0;
		}
	}

	.travellers {
		height: 70px;

		.trip-traveller-text,
		.traveller {
			display: inline-block;
			height: 100%;
			float: left;
		}

		.trip-traveller-text {
			width: 90px;
			line-height: 70px;
			padding: 0 5px;
			font-size: 18px;
		}

		.traveller {
			width: 110px;
			border-right: 1px solid @panel-border-grey;
			.profile-pic-wrapper {
				height: 35px;
  				top: 5px;

  				img {
  					border-radius: 50%;
  					transition: all .2s ease-in-out;
  				}
			}

			.name {
				margin: 0;
				padding: 12px 5px 0 5px;
				font-size: 10px;
				text-align: center;
				line-height: 10px;
			}

			&:hover {
				cursor: pointer;

				.profile-pic-wrapper {
					img {
						transform: scale(1.1);
					}
				}
			}
		}

		button {
			height: 100%;
			width: 30px;
			float: left;
			font-size: 28px;
			background-color: rgba(0,0,0,0.35);
			border: 0;
			color: #fff;
			padding: 0px;

			&:hover {
				background-color: rgba(0,0,0,0.55);
			}
		}
	}

	.locations-menu {
		width: 500px;
		top: 43px;
		z-index: 10;
		border-top: 1px solid #ccc;
	}

	.bottom-bar {
		-webkit-transition: -webkit-transform 1s ease;
		-moz-transition: -moz-transform 1s ease;
		-o-transition: -o-transform 1s ease;
		transition: transform 1s ease;

		&.slide-in {
			-moz-animation-name: bottomBarSlideIn;
			-moz-animation-iteration-count: 1;
			-moz-animation-timing-function: ease-in;
			-moz-animation-duration: 1s;

			-webkit-animation-name: bottomBarSlideIn;
			-webkit-animation-iteration-count: 1;
			-webkit-animation-timing-function: ease-in;
			-webkit-animation-duration: 1s;

			animation-name: bottomBarSlideIn;
			animation-iteration-count: 1;
			animation-timing-function: ease-in;
			animation-duration: 1s;
		}
	}
}